.header {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 20px;
}

.others {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.post_a_project {
    width: 150px;
    padding: 15px;
    color: #fff;
    background-color: rgb(176, 149, 114);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.search{
    width: 110px;
    text-align: right;
    color: rgb(121, 93, 57);
    border: 1px solid rgb(121, 93, 57);
    font-weight: 600;
    padding: 5px;
}
.ri-heart-3-line,
.ri-mail-line,
.ri-notification-2-line {
    font-size: 34px;
    cursor: pointer;
    color: rgb(163, 156, 148);
    margin-top: 4px;
}
.profile{
    border-radius: 10px;
    margin-top: 10px;
}
.options{
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}
.desc-title{
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid rgb(163, 156, 148);
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.dropdown-toggle {
    white-space: nowrap;
}
.dropdown_desc{
    display: block;
    color: rgb(163, 156, 148);
    border-bottom: 1px solid rgb(163, 156, 148);
}